.WeatherForecast{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.WeatherForecast-temperature{
    text-align: center;
}
.WeatherForecast-temperature-max{
    margin-left: 5px;
    font-weight: bold;
}

.WeatherForecast-temperature-min{
    opacity: 0.6;
    margin-left: 5px;
  
}
.WeatherForecast-day {
    font-weight: bold;
}

