.Weather {
    /* border: 1px solid #dadde1; */
    background: #d9dad7; 
    border: 1px solid #385170;
    font-family: arial, sans-serif;
    /* color: rgb(135, 135, 135); */
    color: #1a2639;
    padding: 16px;
    border-radius: 4px;

.Weather h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 32px;   
}
}
.Weather .btn {
    background: #3e4a61;
    color: #c24d2c;
    font-weight: bold;
    
}
.Weather form {
    margin-bottom: 20px;
}

.Weather .form-control {
    background: #3e4a61;
    color: #c24d2c;
font-weight: bold;
}
.Weather h1 {
   
    font-weight: 100;
    line-height: 29px; 
    margin: 20px 0 10px 0;
    font-family: "Poetsen One", sans-serif;
    font-size: 42px;   
}

.Weather ul {
   margin: 0;
   padding: 0; 
}

.Weather li {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px; 
    list-style: none;
    color: #1a2639;
}

.Weather img {
    height: 64px;
    width: 64px;
    /* margin-right: 1px; */
    display: inline-block;
    position: relative;
    /* top: -18px; */
    /* added position and display since clearfix is not float-left on temp and unit displace image above */
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
  }
    

.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
    margin-left: 6px;
    font-weight: bold;
  }

  .Weather a { 
    color: #c24d2c;
  }