.WeatherForecast{
    text-align: center;
}

/* .WeatherForecast-day{}

.WeatherForecast-temperatures{}

.WeatherForecast-Temperature-max{} */

.WeatherForecast-Temperature-min{
    opacity: 0.6;
    margin-left: 5px;
}
